html {
    height: 100%;
    width: 100%;
}

body {
    margin-top: 15px;
    background: linear-gradient(to right, #141E30, #243B55);
}

h1,
h4 {
    color: rgb(196, 229, 191);
    text-align: center;
    font-family: 'VT323', monospace;
}

.btn {
    text-transform: uppercase;
    border-radius: 300px;
    font-family: 'VT323', monospace;
    font-size: 25px;
}

.btn-primary {
    background-color: #F05F44;
    border-color: #F05F44;
}

.btn-primary:hover {
    background-color: #ee4b08;
    border-color: #ee4b08;
    border-width: 5px;
    cursor: pointer;
}