html {
    height: 100%;
    width: 100%;
}

body {
    margin-top: 15px;
    background: linear-gradient(to right, #141E30, #243B55);
}

h1,
h4 {
    color: rgb(196, 229, 191);
    text-align: center;
    font-family: 'Acme', sans-serif;
}

h2,
h3,
h5 {
    font-weight: bold;
    font-family: 'Acme', sans-serif;
}

i {
    font-size: 2em;
    color: whitesmoke;
    padding-right: 20px;
}

span {
    font-weight: 100;
}

div {
    font-family: 'Titillium Web', sans-serif;
}

.hidden {
    display: none;
}

.row {
    margin-top: 20px;
}

.social {
    margin-top: 15px;
    text-align: center;
    display: inline-block;
    width: 100%;
}

.sq {
    background-color: antiquewhite;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}